{% extends 'base.html' %}

{% load static %}
{% block style %}
    <style type="text/css">
    body{
    background-color: #f9f9f9;
    }
    .border-solid{
    border: 1px solid #000 !important;
    }
    .margin-box{
    margin-top: 15px;
    margin-bottom: 15px;
    }
    .no-padding{
    padding: 0;
    }
    .no-background-color{
    background-color: transparent;
    }
    .box-padding{
    padding: 10px;
    }
    .redecasd-box-wrapper{
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    height: 100%;
    background-color: #fff;
    }
    .redecasd-box--help > h1{
    /*color: #4d5d96;*/
    color: #f8f9fa;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    }
    .redecasd-box--help > a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    }
    .background-blue{
    background-color: #63c2de;
    }
    
    .row-height{
        min-height: 250px;
    }
    </style>
{% endblock %}


{% block header_item %}
    <li class="nav-item active">
        <a class="nav-link nav-link--black" href="membros/">Login
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb no-background-color">
                    <li class="breadcrumb-item"><a href="../">PortalH8</a></li>
                    <li class="breadcrumb-item active" aria-current="page">RedeCasd</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row margin-box row-height">
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper background-blue">
                    <div class="redecasd-box--help">
                        <h1>Problemas com a RedeCasd?</h1>
                        <a href="../reportar_problemas">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper background-blue">
                    <div class="redecasd-box--help">
                        <h1>Problemas com a RedeCasd?</h1>
                        <a href="../reportar_problemas">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper background-blue">
                    <div class="redecasd-box--help">
                        <h1>Problemas com a RedeCasd?</h1>
                        <a href="../reportar_problemas">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper background-blue">
                    <div class="redecasd-box--help">
                        <h1>Problemas com a RedeCasd?</h1>
                        <a href="../reportar_problemas">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row margin-box row-height">
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper background-blue">
                    <div class="redecasd-box--help">
                        <h1>Material dos treinamentos</h1>
                        <a href="../reportar_problemas">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper background-blue">
                    <div class="redecasd-box--help">
                        <h1>Status da rede</h1>
                        <a href="../reportar_problemas">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper background-blue">
                    <div class="redecasd-box--help">
                        <h1>Número de usuários na rede</h1>
                        <a href="../reportar_problemas">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper background-blue">
                    <div class="redecasd-box--help">
                        <h1>Inscrição para o PS 2018.2</h1>
                        <a href="../reportar_problemas">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}