{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "redecasd/css/redecasd-general.css" %}">
{% endblock %}

{% block header_item %}
    {% if user.is_authenticated %}
        <li class="nav-item active">
            <a class="nav-link nav-link--black" href="membros/">Área do membro
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb no-background-color">
                    <li class="breadcrumb-item"><a href="../">PortalH8</a></li>
                    <li class="breadcrumb-item active" aria-current="page">RedeCasd</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row row-height">
            
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper">
                    <div class="redecasd-box-card">
                        <h4>Status</h4>
                        <h3>
                        {{redecasd_status.origin}}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper">
                    <div class="redecasd-box-card">
                        <h4>Status</h4>
                        <h3>
                            Horrivis
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper">
                    <div class="redecasd-box-card">
                        <h4>Usuários na rede</h4>
                        <h3>
                            <span class="js-count">{{redecasd_status.users_online}}</span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper"  style="background-color: #000">
                    <div class="redecasd-box-card">
                        <h4 style="color: red;">Rede_Sec</h4>
                        <a href="">
                            <button type="button" class="btn btn-light">Informações</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-height">
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper">
                    <div class="redecasd-box-card">
                        <h4>Material dos treinamentos</h4>
                        <a href="">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper">
                    <div class="redecasd-box-card">
                        <h4>Reservar a sala</h4>
                        <a href="reservas/">
                            <button type="button" class="btn">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper">
                    <div class="redecasd-box-card">
                        <h4>Problemas com a RedeCasd?</h4>
                        <a href="../reportar_problemas">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 box-padding">
                <div class="redecasd-box-wrapper">
                    <div class="redecasd-box-card">
                        <h4>Prestação de contas</h4>
                        <a href="">
                            <button type="button" class="btn btn-light">Clique aqui</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script type="text/javascript">
        ( function ( $ ) {
            "use strict";
            $('.js-count').each(function () {
                $(this).prop('Counter',0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 3000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
            });

            var cw = $('.redecasd-box-card').width();
            $('.redecasd-box-card').css({
            'height': (cw-20) + 'px'
            });

        } )( jQuery );

    </script>
{% endblock %}