{% load static %}



<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Portal H8 - RedeCasd</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/portfolio-item.css" %}" rel="stylesheet">
    <link href="{% static "css/hover-box.css" %}" rel="stylesheet">
    <link href="{% static "css/home-carousel.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "slick/slick.css" %}">

</style>

  </head>
  <body>




    <div class="container">
        <div class="row margin-box" style="height: 200px;">
            Algum dia haverá um dashboard aqui.
        </div>
    </div>

 

  </body>
</html>