{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap3 %}
{% load static %}


{% block style %}
  <style type="text/css">
    .no-background-color{
      background-color: transparent !important;
    }
    .color-yellow,
    .color-yellow div,
    .color-yellow span {
      background-color: yellow; /* background color */
      color: black;
      border-color: yellow !important;           /* text color */
    }
    .color-green,
    .color-green div,
    .color-green span {
      background-color: green; /* background color */
      color: black;
      border-color: green !important;           /* text color */
    }
  </style>
  <link rel="stylesheet" href="{% static "redecasd/assets/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "redecasd/css/custom-fullcalendar.css" %}">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />



{% endblock %}


{% block header_item %}
  <li class="nav-item active">
    <a class="nav-link nav-link--black" href="../membros/">Login
    </a>
  </li>
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb no-background-color">
          <li class="breadcrumb-item"><a href="../">PortalH8</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="../">RedeCasd</a></li>
          <li class="breadcrumb-item active" aria-current="page">Reservas da sala</li>
        </ol>
      </nav>
    </div>
  </div>
  
  <div class="container" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-xl-12">
        <div id='calendar'></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="problem-report-modal">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
  <script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static "redecasd/js/calendar-form.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}