 {% load static %}
<!--
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
<div class="page">
    <h1> site bolada1 </h1>
    <img src="{% static 'home/images/casd.png' %}">
</div> -->


<!DOCTYPE html>
<html>
    <title>Rede_Portal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
    
    <body>
        <div class="future_page">
            <img class="logo" src="{% static 'home/images/logo_portalH8.png' %}">
            <hr class="divider">
            <h1 id="typewriter_text" class="future_page__title"></h1>
        </div>
        <div class="news-wrapper">
            {% for news in news_list %}
            <div class="news-item">
                <p>{{ news.iniciativa_name }}</p>
                <p>{{ news.pub_date }}</p>
                <p>{{ news.news_text }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>