{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static "slick/slick.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "slick/slick-theme.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/slick-slider.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "home/css/style.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "home/css/carousel-card-CEE.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "home/css/carousel-card-events.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "home/css/hover-box.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "home/css/home-carousel.css" %}">
{% endblock %}

{% block header_item %}
{% if user.is_authenticated %} 
    <li class="nav-item active">
        <a class="nav-link nav-link--black" href="news-manager/">Área do membro
        </a>
    </li>
{% endif %}
{% endblock %}

{% block content %}
  <div class="container">
    <h3 class="title-3">News</h3>
    <div class="row">
      <div class="col-md-6 col-ms-12">
        <div class="box-hover hover-image">
          <figure>
            <a href="news/?toshio_pistola={{main_news.id}}">
              <img class="image-expand" src="{{main_news.pic_url}}" %}">
            </a>
          </figure>
          <div class="text">
            <h1>{{main_news.title}}</h1>
          </div>
        </div>
        
      </div>
      <div class="col-md-3 col-xs-12">
        {% for news in news_list_1 %}
          <div class="row-md-6 image-news-cover--padding-bottom">
            <div class="box-hover total-height hover-image small-box">
              <figure>
                <a href="news/?toshio_pistola={{news.id}}">
                  <img class="image-expand" src="{{news.pic_url}}" %}">
                </a>
              </figure>
              <div class="text"> <h2>{{ news.title }}</h2> </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-md-3 col-xs-12">
        {% for news in news_list_2 %}
          <div class="row-md-6 image-news-cover--padding-bottom">
            <div class="box-hover total-height hover-image small-box">
              <figure>
                <a href="news/?toshio_pistola={{news.id}}">
                  <img class="image-expand" src="{{news.pic_url}}" %}">
                </a>
              </figure>
              <div class="text"> <h2>{{ news.title }}</h2> </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr>
  {% include 'home/includes/partial_carousel_CEE.html' %}
  <hr>
  {% include 'home/includes/partial_carousel_eventos.html' %}
  <hr>
  
{% endblock %}