{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load bootstrap3 %}

{% block content %}
  <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1 text-center">
            <h1>
              {{news.title}}
            </h1>
            <h5>
              {{news.sub_title}}
            </h5>
            <img src="{{news.pic_url}}"}" class="img-fluid" alt="Responsive image" max-width=""/>
            <p class="text-justify"> {{news.text}} </p>
            <p> {{news.iniciativa_name}} </p>
            <p> {{news.pub_date}} </p>
        </div>
      </div>
    </div>


{% endblock %}