{% load el_pagination_tags %}
{% load static %}
{% load bootstrap4 %}
{% load bootstrap3 %}

{% paginate news_list %}
{% for news in news_list %}
    <div class="js-news-item-filter container mb-4">
        <div class="news-item">
            <div class="row align-items-center box-padding">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <img src="{{ news.pic_url }}" class="img-fluid" alt="Responsive image"/>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <h2><a href="../news/?toshio_pistola={{news.id}}">{{ news.title }}</a></h2>
                    <h4>{{ news.sub_title }}</h4>
                    <p class="text-justify clamp">{{ news.text }}</p>
                    <p><a href="../news/?toshio_pistola={{news.id}}">Ler notícia completa</a></p>
                    <p>{{ news.pub_date }}</p>
                    <div class="js-iniciativa-name news-item__tag">
                        {{ news.iniciativa_name }}
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endfor %}