{% extends 'home/base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb no-background-color">
                    <li class="breadcrumb-item"><a href="../">PortalH8</a></li>
                    <li class="breadcrumb-item active" aria-current="page">News</li>
                </ol>
            </nav>
        </div>
    </div>

{% include page_template %}

{% block js %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'home/el-pagination.js' %}"></script>
	<script>
        $.endlessPaginate({
        	paginateOnScroll: true,
        });
    </script>
{% endblock %}
{% endblock %}