{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load bootstrap3 %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb no-background-color">
                    <li class="breadcrumb-item"><a href="../">PortalH8</a></li>
                    <li class="breadcrumb-item active" aria-current="page">News</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="col-xl-12">
            <div class="row">
                <div class="news-feed-filter">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtre por iniciativas...">
                </div>
            </div>
        </div>
    </div>

{% include page_template %}

{% block js %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'home/js/el-pagination.js' %}"></script>
	<script>
        $.endlessPaginate({
        	paginateOnScroll: true,
        });
    </script>

    <script>
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementsByClassName("js-news-item-filter");
        li = document.getElementsByClassName("js-iniciativa-name");

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                ul[i].style.display = "";
            } else {
                ul[i].style.display = "none";
            }
        }
    }
    </script>
{% endblock %}
{% endblock %}