{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-10 offset-1 text-center">
      {% if form.errors %}
      <h2>Credenciais incorretas!</h2>
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
          <h1>Sua conta não permissão de acesso a essa página. Faça o login com outra. </h1>
          {% else %}
          <h1>Iniciar sessão</h1>
          {% endif %}
      {% endif %}
      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

        <div>
          <td><h3>{{ form.username.label_tag }}</h3></td>
          <td><h3>{{ form.username }}</h3></td>
        </div>
        <div>
          <td><h3>{{ form.password.label_tag }}</h3></td>
          <td><h3>{{ form.password }}</h3></td>
        </div>

        <div>
          <h2><input type="submit" class="btn btn-primary btn-lg" value="login" /></h2>
          <h3><input type="hidden" name="next" value="{{ next }}" /></h3>
        </div>

      </form>

      {# Assumes you setup the password_reset view in your URLconf #}
      <h5><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></h5>
    </div>
  </div>
</div>


{% endblock %}