    
    body{
    background-color: #f9f9f9;
    }
    .border-solid{
    border: 1px solid #000 !important;
    }
    .margin-box{
    margin-top: 15px;
    margin-bottom: 15px;
    }
    .no-padding{
    padding: 0;
    }
    .no-background-color{
    background-color: transparent;
    }
    .box-padding{
    padding: 10px;
    }
    .redecasd-box-wrapper{
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    height: 100%;
    background-color: #fff;
    }
    .redecasd-box--help > h1{
    /*color: #4d5d96;*/
    color: #f8f9fa;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    }
    .redecasd-box--help > a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    }
    .background-blue{
    background-color: #fff;
    }
    
    .row-height{
        min-height: 250px;
    }
    