{% for request in pedidos_de_reserva %}
  <div class="col-xl-12 col-lg-12">
    <div class="problem-card">
      <div class="row">
        <div class="col-xl-3">
          <h5>Status</h5>
          <p class="js-problem-card__status">{{request.status}}</p>
        </div>
        <div class="col-xl-3" style="width: 150px">
          <button type="button"
          class="btn btn-success btn-sm js-reservation-positive"
          data-number="{{request.id}}"
          data-toggle="modal">
          <span class="glyphicon glyphicon-search"></span> Autorizar
          </button>
          <button type="button"
          class="btn btn-danger btn-sm js-reservation-negative"
          data-number="{{request.id}}"
          data-toggle="modal">
          <span class="glyphicon glyphicon-search"></span> Negar
          </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <h5> Nome </h5>
          <p> {{request.name}} </p>
        </div>
        <div class="col-xl-4 col-lg-12">
          <h5> Data </h5>
          <p> {{request.reservation_date}} </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <h5> Detalhes </h5>
          <p> {{problem.details}} </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}