{% for problem in problem_list %}
  <div class="col-xl-12 col-lg-12  problem_list {{problem.status}}">
    <div class="problem-card">
      <div class="row">
        <div class="col-xl-3">
          <h5>Status</h5>
          <p class="js-problem-card__status">{{problem.status}}</p>
        </div>
        <div class="col-xl-6">
          <h5>Responsável</h5>
          <p>
            {% for member in problem.people_in_charge.all %}
              <span>{{member}} / </span>
            {% endfor %}
          </p>
        </div>
        <div class="col-xl-3" style="width: 150px">
          <button type="button"
          class="btn btn-warning btn-sm js-update"
          data-url="{% url 'redecasd:problem_report_update' problem.id %}"
          data-toggle="modal">
          <span class="glyphicon glyphicon-search"></span> Edit
          </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xl-12">
          <h5>Ticket</h5>
          <p class="js-problem-card__status"><a href="../../reportar_problemas/ticket/{{problem.ticket}}">{{problem.ticket}}</a></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <h5> Nome </h5>
          <p> {{problem.name}} </p>
        </div>
        <div class="col-xl-4 col-lg-12">
          <h5> Apartamento </h5>
          <p> {{problem.localization}} </p>
        </div>
        <div class="col-xl-4 col-lg-12">
          <h5> Data</h5>
          <p> {{problem.pub_date}} </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <h5> Descrição </h5>
          <p> {{problem.description}} </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}