.box-hover {
  position: relative;
  height: 500px;
}

.box-hover--height-100{
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  opacity: 0.8;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 25%;
  transition: .5s ease;
}

.box-hover:hover .overlay {
  height: 100%;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
/*  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.text--title{

}

.text > h2{
  display: none;
}

.text > p{
  display: none;
}
