{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Painel Notícias</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="{% static "redecasd/assets/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "redecasd/assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "redecasd/assets/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "redecasd/assets/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "redecasd/assets/css/flag-icon.min.css" %}">
    <link rel="stylesheet" href="{% static "redecasd/assets/css/cs-skin-elastic.css" %}">
    <link rel="stylesheet" href="{% static "redecasd/style.css" %}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static "redecasd/assets/scss/style.css" %}">
    <link href="{% static "redecasd/assets/css/lib/vector-map/jqvmap.min.css" %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="{% static 'home/images/logo_portalH8.png' %}" alt="portalH8"></a>
                <a class="navbar-brand hidden" href="./"><img src="{% static 'home/images/logo_portalH8.png' %}" alt="portalH8"></a>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#"> <i class="menu-icon fa fa-dashboard"></i>Painel</a>
                    </li>
                    <h3 class="menu-title">Ferramentas</h3><!-- /.menu-title -->
                    <li class="menu-item">
                        <a href="{% url 'home:news_manager' %}"> <i class="menu-icon fa fa-laptop"></i>Adicionar notícia</a>
                    </li>
                    
                    <!-- <h3 class="menu-title">Icons</h3>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-fontawesome.html">Font Awesome</a></li>
                            <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Themefy Icons</a></li>
                        </ul>
                    </li>
                    
                    <h3 class="menu-title">Extras</h3>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
                            <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </nav>
    </aside>
    
    <div id="right-panel" class="right-panel">
        
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                </div>
            </div>
        </header>

        {% block breadcrumb %}
        {% endblock %}
        
        {% block content %}
        {% endblock %}
    </div>
    
    {% block modal %}
    {% endblock %}


    <script src="{% static "redecasd/assets/js/vendor/jquery-2.1.4.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="{% static "redecasd/assets/js/plugins.js" %}"></script>
    <script src="{% static "redecasd/assets/js/main.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="{% static "redecasd/assets/js/dashboard.js" %}"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    {% block script %}
    {% endblock %}
</body>
</html>