{% for news in news_list %}
	<div class="col-xl-12 col-lg-12  problem_list {{news.status}}">
	    <div class="problem-card">
	      <div class="row">
	      	<div class="col-xl-10">
		      <h5>Título</h5>
	          <p>{{news.title}}</p>
	      	</div>
	      	<div class="col-xl-2" style="width: 150px">
	      		<form method="post">
  					{% csrf_token %}
			      	<a href="{% url 'home:news_update' pk=news.pk %}">
			        <button type="button"
			        class="btn btn-warning btn-sm">
			        <span class="glyphicon glyphicon-search"></span> Edit
			        </button>
			    	</a>
			        <a href="{% url 'home:news_remove' pk=news.pk %}">
			        <button type="button"
			        class="btn btn-danger btn-sm">
			        <span class="glyphicon glyphicon-search"></span> Delete
			        </button>
			    	</a>
			    </form>
	    	</div>
		   </div>
	      <hr>
	      <div class="row">
	        <div class="col-xl-4 col-lg-12">
	          <h5> Iniciativa </h5>
	          <p> {{news.iniciativa_name}} </p>
	        </div>
	        <div class="col-xl-4 col-lg-12">
	          <h5> Publicado por </h5>
	          <p></p>
	        </div>
	        <div class="col-xl-4 col-lg-12">
	          <h5> Data</h5>
	          <p> {{news.pub_date}} </p>
	        </div>
	      </div>
	    </div>
	</div>
{% endfor %}