{% extends 'redecasd/dashboard/base.html' %}
{% load static %}

{% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Gerenciar membros</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="content mt-3" id="member_search">    
        <div class="col-xl-12 col-lg-12">
            <div class="problem-card">
              <div class="row">
                <div class="col-xl-8">
                    <input style="margin:0" type="text" id="js-search-user-email" placeholder="E-mail do novo membro...">
                </div>
                <div class="col-xl-4">
                    <button style="height: 100%; width: 100%;" type="button" class="btn btn-info js-button-search-email">
                       Pesquisar
                    </button>
                </div>
              </div>
              <div id="member_search_result">

              </div>
            </div>
        </div>
    </div>


    <div class="content mt-3" id="member_list">
        {% include 'redecasd/includes/partial_member_manage.html' %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "redecasd/js/member-manage.js" %}"></script>
{% endblock %}
