{% extends 'redecasd/dashboard/base.html' %}
{% load static %}

{% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Solicitações de reserva</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content mt-3" id="reservation_request_list">
        {% include 'redecasd/includes/partial_reservations_request.html' %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "redecasd/js/reservations_manage.js" %}"></script>
{% endblock %}
