h1{
   font-size: rem(32);
}

.page{
	width: 90%;
	margin: 0 auto;
}

body,
h1 {
    font-family: "Raleway", sans-serif;
}
body,
html{
    height: 100%; 
    background-color: #FFF;
    margin: 0;
}
.header__logo{
    width: 25%;
    height: auto;
    /*margin: 0 auto;*/
    display: middle;
    /*display: block;*/
}
.header{
    position: relative;
    background-color: #8ae691;
    /*top: 35%;*/
    border-bottom: 1px solid #000;
}

.issues-report-wrapper{
    float: right;
    width: 30%;
    border: 1px solid #000;
    border-radius: 3px;
}

.issues-report-wrapper__button{
    margin: 0 auto;
    border: 1px solid #000;
    padding: 12px;
    text-align: center;
    border-radius: 16px;
    background-color: #FFF;
    display: block;
}

.issues-report-wrapper__button:hover{
    background-color: #b5b5b5;
}

.future_page__title{
    text-align: center;
    margin-top: 12px;
}
.divider{
    width: 100%;
    opacity: 0.5;
    margin: 0 auto;
}

.news-wrapper{
    text-align: left;
    width: 75%;
    margin: 0 auto;
}

.news-item{
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 2px 2px #b3b3b3;
    margin: 5px;
    padding: 5px;
}



.news-item__tag{
    display: inline;
    padding: 8px;
    border-radius: 2px;
    background-color: #a0bae9;
    /*height: 45px;*/
}

